/app/server/node_modules
/app/client/node_modules
/app/server/dist
/app/client/dist
/app/server/prisma/dev.db
/app/server/prisma/dev.db-journal
/app/calendar.ts
/app/server/prisma/etymology.csv
/app/server/prisma/kaikki.jsonl
.DS_Store
/app/deprecated